/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Set to 5 columns for a 2x5 grid */
    gap: 20px; /* Gap between grid items */
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-item img {
    width: 100%;
    max-height: 200px; /* Set the desired height */
    object-fit: cover;
}

.add-to-cart-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.flash-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flash-message.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.flash-message.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.flash-message.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}
